{% extends "base.html" %}
{% block meta %}
<meta name="description" content="{{ article.summary | striptags | replace('"', '') | replace("'", '') | e }}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta name="twitter:title" content="{{ SITENAME }} ~ {{ article.title | striptags | replace('"', '') | replace("'", '') | e }}">
<meta name="twitter:description" content="{{ article.summary | striptags | replace('"', '') | replace("'", '') | e }}" />
<meta name="twitter:image" content="{{ SITEURL }}/theme/XRP_Ledger_logo_small.png" />

<meta property="og:title" content="{{ SITENAME }} ~ {{ article.title | striptags | replace('"', '') | replace("'", '') | e }}" />
<meta property="og:description" content="{{ article.summary | striptags | replace('"', '') | replace("'", '') | e }}" />
<meta property="og:image" content="{{ SITEURL }}/theme/XRP_Ledger_logo_small.png" />
{% endblock meta %}

{% block content %}

<article class="article-content">
  <h1>{{ article.title }}</h1>
  
  <!-- If your articles have a summary you want to display prominently: -->
  {% if article.summary %}
  <div class="summary">
    <em>{{ article.summary }}</em>
  </div>
  {% endif %}
  
  <!-- Article body / content -->
  {{ article.content }}
</article>

{% endblock %}
